


<form [formGroup]="StatsForm" (submit)="statSubmit()">
  <div class="formGroup">
    <label for="formGroupExampleInput">estatistica</label>
    <label for="formGroupExampleInput">clube</label>
    <label for="formGroupExampleInput">ano</label>
    <input type ="text" formControlName="estastica" class="form-control"
  </div>

  <div class="formGroup">
    <hr>
    <button class="btn btn-sucess" [disabled]="!statForm.valid">Enviar</button>
  </div>
</form>


<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">estatistica</th>
      <th scope="col">clube</th>
      <th scope="col">ano</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Stats of Stats" style="cursor: pointer;" (click)="carregarStat()">
      <th scope="row">{{Stats.id}}   
      </th>
      <td>{{Stats.estatistica}}</td>
      <td>{{Stats.ano}}</td>
      <td>{{Stats.clube}}</td>       
    </tr>
  </tbody>
</table>