<div class="row">
  
  
   <div class="col-sm-6" *ngIf="playerSelecionado">
    <div class="row">
      <div class="mr-auto"><app-titulo [titulo]="(playerSelecionado.player == undefined ? 'player':  playerSelecionado.player)"></app-titulo>
      </div>     
      <div class="mt-1"><button class=" btn btn-sm btn-outline-danger" (click)="voltar()">Fechar</button></div>
    </div>  
    
    <form [formGroup]="playerForm"(submit)="playerSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">player</label>
        <input type="text" formControlName="player"  class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">id</label>
        <input type="text" formControlName="id" class="form-control">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn btn-success" [disabled]="!playerForm.valid">Salvar</button>
      </div>
    </form>
  </div>
  
  <div [ngClass]="{'col-sm-6':playerSelecionado,'col-sm-12': !playerSelecionado}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <button class="btn btn-success"(click)="playerNovo()">
      Cadastrar jogador
    </button>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">Player</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players" style="cursor: pointer;" (click)="playerSelect(player)">
          <th scope="row">{{player.id}}   
          </th>
          <td>{{player.id}}</td>
          <td>{{player.player}}</td>   
          <td>
            <div class="btn-group">
              <button (click)="openModal(template)" class="btn btn-sm btn-outline-primary">stats</button>
              <button class="btn btn-sm btn-outline-primary">Editar</button>
              <button class="btn btn-sm btn-outline-danger" (click)="deletarPlayer(player.id)">Excluir</button>
            </div>
          </td>   
        </tr>
        <tbody>
   </table>
</div>
 
<ng-template #template>
  
  <div class="modal-body">
    <stats></stats>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull right" aria-label="Close" 
    (click)="modalRef.hide()">Fechar</button>
  </div>
</ng-template>
      
      